* {
    margin: 0px;
    padding: 0px;
    font-family: 'Forum', cursive;
}

body {
    background: url(./img/wood.jpeg);
    background-size: cover;
}


/* width */

::-webkit-scrollbar {
    width: 8px;
}


/* Track */

::-webkit-scrollbar-track {
    background: transparent;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.d10 {
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.7));
    position: absolute;
    width: 60px;
    height: 60px;
    background: url(./img/d10.png);
    background-size: cover;
    transform-origin: center center;
}

.d10 .number {
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    line-height: 45px;
    font-weight: bold;
    text-shadow: 0px 0px 1px white;
    text-decoration: underline;
}

.d6 {
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.7));
    position: absolute;
    width: 45px;
    height: 45px;
    background: url(./img/d6.png);
    background-size: cover;
    transform-origin: center center;
}

.d6 .number {
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    line-height: 45px;
    font-weight: bold;
    text-shadow: 0px 0px 1px white;
    text-decoration: underline;
}

.area {
    position: relative;
    width: 100%;
    height: 20%;
    margin-bottom: 60%;
}

.button_area {
    width: 100%;
    height: 10%;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 1000px;
    height: 600px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.character {
    float: left;
    width: 500px;
    height: 100%;
}

.roll {
    float: left;
    width: 100px;
    height: 100%;
}

.map {
    display: flex;
    height: 400px;
    width: 400px;
}

.kills {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex: 1;
    width: 400px;
    height: 200px;
}

#roll {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
    background: rgb(20, 95, 20);
    color: white;
    font-size: 30px;
    text-shadow: 0px 0px 3px white;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7) inset, 0px 0px 3px rgba(0, 0, 0, 0.7);
}

#roll:active {
    background: rgb(33, 129, 33);
}

.sheet {
    margin: 10px;
    background: rgb(238, 237, 227);
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.7);
    padding: 5px;
    overflow-y: scroll;
}

.kill {
    width: 100%;
    overflow-y: hidden;
}

.kill table {
    width: 100%;
    border-collapse: collapse;
    font-size: 80%;
}

.kill table td:not(:first-of-type) {
    text-align: center;
    border-left: 1px solid black;
    padding: 3px 0px;
}

.kill table tr:first-of-type {
    border-bottom: 1px solid black;
}

.kill table tr:last-of-type {
    background: rgba(0, 0, 0, 0.1);
}