* {
    margin: 0px;
    padding: 0px;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.MathJax_Preview {
    display: none;
}

.MathJax {
    display: inline-block;
}

body{
    /* background: rgba(0,0,0,0.1); */
    background: url(paper.png);
}

.disabled {
    pointer-events: none;
    user-select: none;
    color: lightgray;
    background: rgb(241, 241, 241);
}

.container {
    padding: 0px 15px;
    margin: auto;
    margin-bottom: 400px;
    margin-top: 40px;
    max-width: 800px;
    background: white;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    background: url(groovepaper.png);
}

hr {
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: calc(100% - 40px);
    border: none;
    border-top: 1px solid black;
}

.input {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 150px;
    line-height: 20px;
    font-size: 14px;
    border: none;
    box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.2);
    padding: 0px 5px;
    outline: none;
    resize: none;
    z-index: 10;
}

.entry:hover {
    background: rgba(255, 255, 255, 0.1);
}


/* 
.entry:last-of-type {
    background: rgb(250, 250, 250);
} */
.eq_area{
    position: relative;
}

.entry {
    cursor: pointer;
    user-select: none;
    position: relative;
    color: rgb(0, 0, 0, 0.9);
}

.entry:last-of-type {
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
}

#menu {
    position: absolute;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    z-index: 2;
}

#menu > ul {
    list-style-type: none;
}

#menu > ul > li {
    cursor: pointer;
    margin: 0px;
    float: none;
    min-width: 135px;
    padding-left: 10px;
    padding-right: 10px;
    background: white;
}

#menu > ul > li:hover {
    background: rgb(235, 235, 235);
}

.invisible {
    display: none !important;
}

.eq {
    padding: 5px;
    text-align: center;
    min-height: 30px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
    min-height: 20px;
    line-height: 20px;
    font-family: 'Calibri', serif;
    font-size: 14px;
    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#current {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.eq#current {
    /* box-shadow: 2px 0px 1px -1px greenyellow inset, -2px 0px 1px -1px greenyellow inset; */
    /* border-radius: 5px; */
    /* background: rgba(98, 231, 98, 0.1); */
    box-shadow: 0px 0px 3px rgba(38, 95, 38, 0.7) inset;
}

.text#current {
    /* box-shadow: 2px 0px 1px -1px rgb(228, 84, 58) inset, -2px 0px 1px -1px rgb(228, 84, 58) inset; */
    /* border-radius: 5px; */
    background: rgba(228, 114, 93, 0.1);
}
.image#current {
    background: rgba(228, 187, 93, 0.1);
}

.eq.def, .text.def, .image.def {
    /* border-radius: 5px; */
    box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
    border: 1px solid rgb(63, 63, 63);
    margin-bottom: 16px;
    margin-top: 12px;
    padding: 16px;
    background: rgb(239, 250, 210);
}

.eq#current.def, .text#current.def {
    /* border-radius: 5px; */
    box-shadow: 0px 4px 4px rgba(0,0,0,0.2), 0px 0px 3px rgba(38, 95, 38, 0.7) inset;
    border: 1px solid rgb(63, 63, 63);
    margin-bottom: 16px;
    margin-top: 12px;
    padding: 16px;
    background: rgb(239, 250, 210);
}

.eq.def::after, .text.def::after, .image.def::after {
    content: 'Ważne';
    position: absolute;
    top: -1px;
    right: -1px;
    font-size: 12px;
    line-height: 18px;
    border: 1px solid rgb(145, 118, 118);
    /* width: 64px; */
    padding: 2px 4px;
    border-bottom-left-radius: 8px;
    background: white;
} 

.eq.note, .text.note, .image.note {
    /* border-radius: 5px; */
    box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
    border: 1px solid rgb(177, 172, 114);
    margin-bottom: 16px;
    margin-top: 12px;
    padding: 16px;
    background: rgb(255, 249, 188);
}

.eq#current.note, .text#current.note {
    /* border-radius: 5px; */
    box-shadow: 0px 4px 4px rgba(0,0,0,0.2), 0px 0px 3px rgba(38, 95, 38, 0.7) inset;
    border: 1px solid rgb(177, 172, 114);
    margin-bottom: 16px;
    margin-top: 12px;
    padding: 16px;
    background: rgb(255, 249, 188);
}

.hidden {
    display: none;
}

.underline {
    border-bottom: 1px solid lightgray;
}

.bufferArea {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background: rgb(210, 221, 199);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10px;
}

.buffer {
    width: 14px;
    height: 14px;
    background: lightgray;
    float: left;
    margin: 3px;
    border-radius: 50%;
    cursor: pointer;
}

.buffer.oc {
    background: limegreen;
    box-shadow: 0px 0px 5px limegreen;
}

.mark {
    position: absolute;
    right: 10px;
}

.mark::before {
    content: '(';
}

.mark::after {
    content: ')';
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background: rgb(250, 250, 250);
    border: 1px solid black;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 30;
}

#markEntry {
    float: left;
    margin-left: 5px;
    margin-bottom: 5px;
}

.markEntry {
    z-index: 29;
}

.markEntry #mark {
    width: calc(100% - 10px);
    height: 30px;
    margin: 5px;
    border: 1px solid gray;
}

#markEntryClose {
    margin-right: 0px;
}

.copyFile .btn, .loadFile .btn, .loadFileFromServer .btn {
    margin: 0px;
    margin-bottom: 5px;
    margin-left: 5px;
}

#copyFile {
    margin-left: 4px;
}

#loadFileClose, #copyFileClose, #markEntryClose, #loadFileFromServerClose {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 16px;
    height: 16px;
    background: rgb(160, 44, 44);
    color: white;
    line-height: 16px;
    text-align: center;
    margin: 0px;
    border: none;
    font-weight: bold;
    border-left: 1px solid black;
}

#loadFileClose:hover, #copyFileClose:hover, #markEntryClose:hover, #loadFileFromServerClose:hover{
    background: rgb(201, 20, 20);
}
#copyFileContents, #loadFileContents {
    resize: none;
    width: calc(100% - 10px);
    height: 150px;
    margin-left: 0px;
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
}
#fileName {
    width: calc(100% - 10px);
    margin-left: 0px;
    border: 1px solid gray;
    padding: 5px;
    margin: 5px;
    margin-bottom: 10px;
}

#fileContainer {
    resize: none;
    min-height: 150px;
    width: calc(100% - 10px);
    margin-left: 0px;
    border: 1px solid gray;
    margin: 5px;
    font-size: 14px;
}
#fileContainer .fileName {
    width: calc(100% - 10px);
    padding:  5px;
}
#fileContainer .fileName.selected {
    box-shadow: 0px 0px 2px rgb(163, 154, 51) inset;
    background: rgb(255, 249, 188);
}
#fileContainer .fileName:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);

}
#fileContainer .fileName .name {

}
#fileContainer .fileName .time {

}

.label {
    padding: 3px;
    padding-left: 5px;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    height: 20px;
    line-height: 20px;
    user-select: none;
    background: rgb(210, 221, 199);
    border-bottom: 1px solid black;
}

.bufferArea .btn {
    min-width: 70px;
    text-align: center;
    margin: 0px;
    height: 100%;
    border-top: none;
    border-bottom: none;
    border-left: 1px solid lightgray;
    border-right: none;
}

.bufferArea .btn:last-of-type {
    border-right: 1px solid lightgray;
}

.bufferArea .btn:first-of-type {
    margin-left: 10px !important;
}

.actionArea{
    position: absolute;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    bottom: -40px;
    right: 0px;
}
.action {
    min-width: 20px;
    min-height: 20px;
    line-height: 20px;
    text-align: center;
}
.right {
    align-self: flex-end;
}

.btn a {
    color: black;
    text-decoration: none;
}

.btn, li {
    float: left;
    /* background: rgb(235, 235, 235); */
    background: white;
    margin: 2px;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    user-select: none;
    border: none;
    /* margin-left: 0px; */
    margin-bottom: 2px;
    border: 1px solid lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

.btn:hover, li:hover {
    background: rgb(235, 235, 235);
    /* box-shadow: 0px 0px 3px rgb(81, 147, 223) inset; */
}

.saveIcon {
    border-radius: 2px;
    margin-left: 7px;
}

.red {
    background: rgb(228, 84, 58);
    box-shadow: 0px 0px 5px rgb(228, 84, 58);
}

.green {
    background: limegreen;
    box-shadow: 0px 0px 5px limegreen;
}

#overlay {
    display: none;
    user-select: none;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 20;
}
.image {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
}
.img {
    max-width: 600px;
}

#loaderContainer {
    display: none;

    user-select: none;
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0; left: 0;
    z-index: 1001;
}

@keyframes rotate {
    from { transform: rotate(0deg);}
    to   { transform: rotate(359deg);}
}

#loaderContainer .loader {
    background: transparent;
    width: 30px;
    height: 60px;
    transform: translate(-50%,-50%);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: 5px 0px 1px rgb(255, 249, 188) inset;
    transform-origin: center right;
    animation: rotate 1s linear infinite;

    position: absolute;
    left: calc(50% - 30px);
    top: calc(50% - 30px);
}