* {
    margin: 0px;
    border: 0px;
    font-family: 'Forum', cursive;
}

html, body {}

.page {
    margin: 0px 20px;
    max-width: 800px;
}

.row {
    width: 100%;
    clear: both;
    margin-bottom: 10px;
}

.title {
    text-align: center;
    font-size: 120%;
    padding: 20px 0px;
    font-weight: bold;
}

.header {
    font-size: 120%;
    margin-top: 30px;
    width: 50%;
    border-bottom: 1px solid black;
    font-weight: bold;
}

.center {
    text-align: center;
}

.tables {
    display: flex;
    justify-content: center;
}

.tables table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    background: rgb(255, 255, 240);
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.4);
}

.tables td, .tables th {
    border: 1px solid black;
    padding: 3px;
}

.tables th {
    background: rgb(224, 197, 42);
    text-align: center;
}

.tables td:first-of-type {
    text-align: center;
}

.dice {
    color: rgb(22, 145, 6);
    font-weight: bold;
}

.mod {
    color: rgb(241, 168, 72);
    font-weight: bold;
}

.skill {
    color: rgb(37, 125, 207);
    font-weight: bold;
}

.text li {
    margin-bottom: 5px;
}

.test {
    width: calc(100% - 20px);
    margin-left: 10px;
    padding: 5px;
    background: rgb(255, 255, 240);
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.4);
}

.test .name {
    font-weight: bold;
}